[2018-02-20 22:25] eddieantonio opened #1 "Setup initial Flask/Python environment"
- Flask, requirements.py, Python 3.6

[2018-02-20 22:55] #1 closed, assigned to eddieantonio

[2018-02-20 22:55] eddieantonio opened #2 "Setup Integration Testing with py.test + Selenium"

[2018-02-21 15:50] #2 closed, assigned to nobody

[2018-02-23 20:20] eddieantonio opened #3 "Create a page powered by the app that shows the information shown in the original HTML file"

[2018-03-02 16:29] #3 closed, assigned to nobody

[2018-03-02 20:58] eddieantonio opened #4 "Create an initial schema"
[code]

[2018-03-02 21:09] eddieantonio opened #5 "Use HTML `<audio>` tags to play recordings for each word"
Support:

Uncompressed:

 - audio/x-wav (.wav) [Chrome, Firefox, Safari]

Compressed:

 - audio/webm (.weba) (Vorbis codec) [Chrome, Firefox, Safari, Opera]
 - audio/aac (.mp4) [Chrome, Firefox, IE, Safari]

See:
 - <https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types/Complete_list_of_MIME_types>
 - <https://developer.mozilla.org/en-US/docs/Web/HTML/Supported_media_formats>

[2018-03-09 15:54] eddieantonio opened #6 "Tests do not automatically insert data"
Gotta write tests that populate the database

[2018-03-09 16:46] eddieantonio opened #7 "pytest-flask live server only works for one request..."
It seems to quit immediately after the first request and won't start up again :(

[2018-04-16 15:25] #4 closed, assigned to nobody

[2018-04-16 19:35] #5 closed, assigned to nobody

[2018-04-16 23:14] eddieantonio opened #8 "Automatically minify HTML"
See: <https://stackoverflow.com/questions/13587531/minify-html-output-from-flask-application-with-jinja2-templates>

[2018-04-27 17:30] eddieantonio opened #9 "Import things from Tim's scripts"
Do a proper import of the data based on Tim's scripts.

We may want to use [Parselmouth] instead of using Praat directly.

[Parselmouth]: https://github.com/YannickJadoul/Parselmouth

[2018-05-09 16:05] #9 closed, assigned to nobody

[2018-05-09 16:06] eddieantonio opened #10 "Add simple authentication"
Simple user/password authentication for now.

[2018-05-11 17:39] eddieantonio opened #11 "Full text search for phrases and their translations"
See `/home/ARTSRN/arppe/giellatekno/langs/crk/src/orthography/spellrelax.regex` for notes

Perhaps create an indexed key in "versioned string"?

Full text search using SQLite3?/fst4? https://stackoverflow.com/q/21258527/6626414

 - [x] create appropriate table(s)
 - [x] index properly
 - [x] fetch phrases by both translation and transcription
 - [x] create user interface
     - [x] search box

[2018-05-11 19:30] #10 closed, assigned to nobody

[2018-05-15 18:10] #11 closed, assigned to nobody

[2018-05-15 20:44] eddieantonio opened #12 "Uniform way to create a recording"
There are two ways to export a recording. What's needed is exactly one function. Preferably one that uses pydub (thus the dependency on `sh` will no longer be needed).

[2018-05-21 23:50] #12 closed, assigned to nobody

[2018-05-24 19:13] eddieantonio opened #13 "Change which FST to use in Itwewîna"
It should be using an HFST file, but it's using an old XFST file:

[code]

[code]

Test it with 	ᐚᐸᒣᐤ (wâpamêw) ( *wâpam-* +  Verb +  Transitive Animate +  Imperative +  Immediate +  Actor: 2st Person Singular +  Goal: 3rd Person Singular)

[2018-05-30 19:32] #6 closed, assigned to nobody

[2018-05-30 20:51] #7 closed, assigned to nobody

[2018-06-25 20:43] eddieantonio commented on #13
Moved to UAlbertaALTLab/itwewina

[2018-06-25 20:43] #13 closed

[2018-09-28 16:38] eddieantonio opened #14 "Add list of desiderata to "First revision" project; prioritize."
Go to the [project page](https://github.com/UAlbertaALTLab/recording-validation-interface/projects/1) and click the plus to add a new card to the "To do" column.

[2018-09-28 16:40] eddieantonio opened #15 "Package as a `bdist_wheel` and setup new deployment process"

[2018-09-28 16:42] eddieantonio opened #16 "Which directories get parsed and which do not, and why"
A possible symptom may be files that are saved in MacRoman encoding, as this now fails fast in the current version of the import.

[2018-09-28 16:44] eddieantonio commented on #8
Closing for now, as this seems to not be worth development time just now. Too much effort on a "nice-to-have" request.

[2018-09-28 16:44] #8 closed

[2018-10-04 19:27] aarppe opened #17 "Remove Sentence/Word distinction, turning into a more multi-faceted distinction?"
We will internally want to separate the following types of recorded items, since we want to be able to restrict and make more manageable to the MESC validators the amount of items they need to focus on - in the first instance only category 2 below, not 1 or 3):

1. Lexical entries (words) that are already in the Maskwacîs dictionary.

2. "New" words that were collected using the RapidWords questio

[2018-10-04 19:41] eddieantonio opened #18 "Add [âêîô] buttons to the "transcription" field"
So that validators can type the SRO/circumflexes without resorting to keyboard gymnastics

[2018-10-04 19:42] aarppe opened #19 "Adding systematized way to provide information about inflecting words (nouns and verbs)."
When the validators scrutinize a verb or a noun, we would want to make it as easy as possible to provide grammatical information about the category of the noun (instead of using NA, NI, NAD, NID, VII, VAI, VTI, VTA).

This could concern both the English translation as well as grammatical coding.

Say, the Cree example for 'annoying' (which in Arok's dictionary is 'mikoskâtisiw'). This likely was e

[2018-10-04 21:17] eddieantonio opened #20 "Extraction: Use Audtion's *_recorded file structure for getting .wav files."

[2018-10-04 22:01] eddieantonio opened #21 "Add a syllabics converter below the transcription"
The reason is to check that the Cree transcription looks right when written in syllabics.

[2018-10-17 21:03] eddieantonio opened #22 "Type "e" to get "ê""
Typing "e" in the transcription field should always replace with an "ê".

[2018-10-17 21:04] eddieantonio opened #23 "Double type vowel to get long vowel."
Typing "aa" should result in "â". Same for "ii", and "oo".

[2018-10-18 14:58] eddieantonio opened #24 "Create an init script"
It will:

 - [x] ask for production or development environments
 - [ ] download the metadata
 - [x] create the secret key/environment variables
 - [ ] prompt for locations of different files

[2018-10-21 18:08] eddieantonio commented on #24
Haha, just realized this won't work without a `settings.py` module! So `init` should be standalone.

[2018-10-24 17:53] #24 closed

[2018-11-02 14:31] eddieantonio commented on #16
Now with the Audition fix, it seems like a lot of this is manual folder/manifest clean-up. I'm closing for now.

[2018-11-02 14:31] #16 closed

[2018-11-02 14:32] eddieantonio commented on #20
Fixed a while ago.

[2018-11-02 14:32] #20 closed

[2018-11-02 14:33] eddieantonio commented on #15
This method is invalid for Django deployments.

[2018-11-02 14:33] #15 closed

[2018-11-09 20:06] eddieantonio opened #26 "Create interface for validating translations ONLY"
In this step, we can judge recording quality too!

Do **NOT** display the transcription!

**EDIT**: I have more ideas about this:

Create an interface that allows an iPad user to quickly hear the recording, and validate:

 1) Part of speech
  * uses a Cree taxonomy of part of speech rather than the Algonquinist traditional taxonomy
 2) The translation itself
  * Highlights arguments (when it's a v

[2018-12-05 21:09] eddieantonio opened #27 "Create recording API"
A simple API is:

[code]

e.g.,

[code]

The word form must be written in perfect SRO. NFC normalization can happen at the `recval` end.

The implementation is a simple view that 404s if a recording with that exact title is not found; otherwise, it gives a small JSON payload with the full URI to each recording along with metadata, like:

[code]

Note that for verbs, itwêwina may want to search for

[2018-12-05 21:10] #14 closed

[2018-12-06 16:24] eddieantonio opened #28 "SERVE RECORINGS!"
The recordings are created, but not served. Fixitfixitfixitfixit.

Tasks:

 - [x] Make the route
 - [x] serve the file
 - [x] AGGRESSIVELY cache it (the browser should ~~never~~ seldom attempt to re-download it)
 - [x] fix links in templates

[2018-12-06 19:58] #28 closed

[2018-12-10 17:55] eddieantonio opened #29 "New, permanent Sapir deployment"
Must collaborate with Michael to figure out a few things:

 - [x] Where the database will be stored
 - [x] Where the audio recordings will be stored
 - [x] `PIPENV_VENV_IN_PROJECT`
 - [x] Setup init.d script so that the service restarts
 - [x] Static files...
 - [x] Document, create templates

[2018-12-10 23:10] #27 closed

[2018-12-10 23:11] eddieantonio commented on #27
Remaining tasks are either out of scope, or must be done in the itwêwina side. See UAlbertaALTLab/itwewina/issues/92

[2018-12-12 05:13] eddieantonio opened #30 "Upload audio to Django's MEDIA_ROOT?"
This might be useful?

https://docs.djangoproject.com/en/2.1/topics/files/

[2018-12-12 21:59] #29 closed

[2018-12-14 18:18] eddieantonio opened #32 "Add "admin" link for administrators"

[2018-12-14 18:18] eddieantonio opened #33 "Fix pagination"

[2018-12-14 18:19] eddieantonio opened #34 "Fix (prefix) search"

[2018-12-14 18:19] eddieantonio opened #35 "Add fields to Speaker: bio (eng + crk), picture, and anonymous"
Should extend the `Speaker` model with a few more fields:

 - bio
 - picture: media
 - anonymous: bool (or !consented_to_identification)

The `recording/_search` API will have to be changed accordingly.

[2018-12-14 18:22] eddieantonio opened #36 "Easy way to redeploy gunicorn app"

[2018-12-14 23:19] eddieantonio opened #37 "Relax vowel length matching"

[2018-12-14 23:26] eddieantonio opened #38 "Validate all words/phrases from the Maskwacîs dictionary"
Do this so that there's less work for the validators.

We will require some simple removal of vowel length

[2018-12-17 08:36] aarppe commented on #38
The second pass at standardizing orthographically the MD content is completed, with the results available in the file:

MD_lex_std_anl_gen_norm_autoreview.txt

The script for generating the above file is provided below for reference:

cat MD_lex_std_anl_gen_norm.txt | gawk 'BEGIN { FS="\n"; RS=""; OFS="\t"; ORS="\n"; } { m=0; n_norm=0; line=""; delete norm; norms=""; split($1,f,"\t"); for(i=1; i<=

[2018-12-17 08:41] aarppe commented on #35
Speaker names and genders entered in validation app for most speakers. There were two not-known speaker codes (JON and MAL), but I will sort these out. Nevertheless, this means that the recordings for all the other speakers in the currently processed recordings materials should be incorporable in itwêwina.

[2018-12-17 17:55] #36 closed

[2018-12-18 03:37] aarppe commented on #17
Besides the ';;' and '::' suffix notations mentioned above for new RW-inspired words and sentences, respectively, the elicitation sheets do have a standard notation for content that has been extracted from the Maskwacïs Dictionary. This are organized to small sets, which have been recorded as spoken by the speakers in batches:

kimiwasin = ᑭᒥᐊᐧᓯᐣ (2268): It rains a little.
[1: kimiwasin] = [2: ᑭᒥᐊ

[2018-12-18 03:38] aarppe commented on #17
We should decide where to attach/marge/continue this issue.

[2018-12-18 03:40] aarppe commented on #19
Maybe the validator can choose from any one of the options above?

[2018-12-18 04:55] aarppe commented on #37
Is this the reason why e.g. pwâwîw which has recordings in the validation interface does not show up in itwêwina? On the other hand, iskwêsis does show up in both!?

[2018-12-18 09:31] aarppe commented on #37
Generally, some forms in the validation app do appear as expected as audio snippets in itwêwina, whereas other do not, even though one would expect so.

Some examples of not entirely systematic matching of recording snippet transcriptions and normative lemmas generated according to the CW-based FST:

1. Accessible in validation app, but not at all in itwêwina:

kostâcinâkosiw

2. Accessible as inf

[2018-12-18 16:53] eddieantonio commented on #37
The reason this happens is because, when a transcription is stored in the validation interface, it assumes the text is an crk phrase written in SRO. Since, <ê> is _always_ long, any <e>s are converted to <ê>. <ê> is always long. <e> is never stored. There are some other normalizations applied like trimming whitespace and ensuring ever letter is lowercase.

As a result, <iskwêwsis>, having only <ê>

[2018-12-18 16:59] eddieantonio opened #39 "Specify lemma for recorded phrases"
Generally, some forms in the validation app do appear as expected as audio snippets in itwêwina, whereas other do not, even though one would expect so.

Some examples of not entirely systematic matching of recording snippet transcriptions and normative lemmas generated according to the CW-based FST:

1. Accessible in validation app, but not at all in itwêwina:

kostâcinâkosiw

2. Accessible as inf

[2018-12-18 17:34] eddieantonio commented on #37
By the way, these are the word forms that are matched when querying for a recording:

[code]

2s → 3s is not in there, so it'll never be found regardless. The lemma thing (#39) is a good idea to implement! itwêwina would ask, "what recordings do you have for this lemma?" and the validation app would reply with ALL OF THE FORMS it is aware of.

[2018-12-18 19:22] aarppe commented on #37
Yes, if/when we have the recording snippets of inflected forms linked to a lemma, then we would want to present all such audio snippets - and we wouldn't have to go after selected forms as above.

[2018-12-18 19:59] aarppe commented on #35
Concerning the title, we have discussed with Rose having terse bios in both Cree and English (When we get those is another matter).

[2018-12-18 20:05] aarppe commented on #39
(This is discussed in #17) I'd keep 1) words (single orthographical units according to SRO), 2) phrases (2-3 word sequences that are used to convey single-word English meaning, e.g. blind -> 'namoya wâpiw') and 3) full example sentences as separate categories.

Categories 1-2 will likely become new lexical entries (and probably can be treated similarly in validation), whereas category 3 will be li

[2018-12-19 16:43] eddieantonio opened #40 "Add fields to recording API: speaker_name, anonymous"
Add a few fields to the recording API:

[code]

Note that `anonymous` will always be `false` for the current recordings (as of 2018-12-19), and that "speaker_name" should be a non-empty string when the speaker _is_ anonymous.

[2018-12-19 19:12] aarppe opened #41 "Orthographically normatize all Cree words/phrases in the recording database"
This is already described as a comment in #37, but should be kept as a separate issue as it is an alternative solution to spelling relaxation described in #37.

Once all Cree words/phrases in the recording database have been normatized (and in the dictionary source CSV for MD content as well), plus lemmas added for each Cree word (though that primarily deals with providing more audio snippets by f

[2018-12-19 22:11] #40 closed

[2018-12-20 21:08] aarppe opened #42 "Searching does not lead anywhere"
When searching for something, e.g. 'wolf':

![image](https://user-images.githubusercontent.com/15003407/50310833-7d798c00-0460-11e9-8a66-8f93b9000bfe.png)

... the result is an almost blank webpage with the code 501:

![image](https://user-images.githubusercontent.com/15003407/50310877-98e49700-0460-11e9-9454-5f9c5d5f4972.png)

Or is it that this works only through the administrative pages?

[2018-12-20 21:12] eddieantonio commented on #42
This is because I never reimplemented search in Django >.<.

[2018-12-21 19:03] #37 closed

[2018-12-21 19:17] eddieantonio commented on #37
`recval` now relaxes vowel lengths, as well as some other normalizations when searching for recordings. Consequently, some more recordings are available in itwêwina!

Try:

 - [pwâwîw](http://altlab.ualberta.ca/itwewina/crk/eng/?lookup=pw%C3%A2w%C3%AEw)
 - [kostâcinâkosiw](http://altlab.ualberta.ca/itwewina/crk/eng/?lookup=kost%C3%A2cin%C3%A2kosiw) (by the way, that voice does _not_ sound like Ros

[2019-01-08 17:37] aarppe commented on #35
An HTML table with speakers in the order of descending number of sessions participated, and pictures for most of the them, is available in our project GDrive:

file:///Users/arppe/Google%20Drive/CreeFST/Maskwacis/Speakers/index.html
file:///Users/arppe/Google%20Drive/CreeFST/Maskwacis/Speakers/

Clicking on a speaker name takes to the image, as we don't have any bios yet.

I tried a bit of formatt

[2019-04-17 16:52] pyup-bot opened #43 "Initial Update"
The bot created this issue to inform you that pyup.io has been set up on this repo.
Once you have closed it, the bot will open pull requests for updates as soon as they are available.

[2019-04-17 16:53] eddieantonio commented on #43
:+1:

[2019-04-17 16:53] #43 closed

[2019-05-06 19:18] eddieantonio opened #72 "Make speaker pages: /speakers/CODE"
Dynamically create pages for each speaker, including an overview/index page styled after http://altlab.ualberta.ca/maskwacis/Speakers/speakers.html

 - [ ] Add ability to upload speaker photo
 - [x] Add a speaker bio (English)
 - [x] Create index page with grid of speaker photos (exactly like http://altlab.ualberta.ca/maskwacis/Speakers/speakers.html)
 - [x] Dynamically create pages for each indiv

[2019-10-18 20:31] aarppe opened #73 "Extract new batch of Maskwacîs Cree recordings"
Since May, we've had a number of students annotating the Maskwacîs Cree recordings, delineating the carefully spoken Cree word and sentence snippets and matching these with their field transcriptions and English translations. The estimate is that we'd consequently have altogether 3000-4000 Cree words from the Maskwacîs Dictionary with multiple recordings by native Cree speakers.

These would now n

[2019-10-19 01:34] eddieantonio commented on #73
I moved this issue here, because this is where I'll actually make the change!

The problem is that the original importer assumed annotations would be created in Praat and exported as `.TextGrid` files. I'd have to figure out what's easier:

 1) writing a new parser for Elan
 2) bulk converting the `*.eaf` files into Praat `*.TextGrid` files

A cursory google shows that there aren't really automate

[2019-10-19 02:11] aarppe commented on #73
Ok. Maybe Atticus will have an idea of Praat-ELAN interoperability, and then folks like Chris Cox might be knowledgeable in this as well.

[2019-12-05 16:30] eddieantonio commented on #73
- [x] Create Elan to TextGrid converter
 - [x] Convert Elan files to TextGrid
 - [ ] Import new recordings
 - [ ] improve the converter

Currently what's blocking this is that `/data/av/backup-mwe` is a **MESS** and not everything is stored in a consistent or convenient way. There are multiple conventions and I don't think all of the new annotations have been placed in the correct spot yet.

[2019-12-05 17:20] aarppe commented on #73
This boils down to sufficient and adequate instruction of the annotators, and in the case of undergrad students, what also seems unavoidable is monitoring that they actually follow instructions. Especially this concerns going forward, but another matter is how the already completed annotations can be sorted out appropriately.

[2019-12-06 18:39] atticusha commented on #73
@aarppe Actually, I'm not sure that's accurate in this case. The annotators are pretty good about the conventions. The blame for the backup-mwe dir structures is on us. Some of this was unavoidable (we changed the number of recordings in a day, our recording software which changed out dir structure, how often we did recordings, etc.) and could not really have been planned beforehand. On the other

[2020-01-16 20:10] eddieantonio commented on #72
@aradu12 can you please take this on?

[2020-01-30 01:18] eddieantonio opened #75 "[API] Return the matched search string"
Let's say you search for two wordforms: `wâpamêw` and `ê-wâpamât`:

[code]

You'll get a list of results, however, **none of the results say which wordform they matched with**:

[code]

**Note**: `wordform` here lists the text found in the database — which we should not trust!

---

**Proposal**:

Add the **matched wordform** (i.e., what was in the search string) to each search result:

[code]

Th

[2020-01-30 03:16] aarppe commented on #75
So that itwêwina or another application sends to the lexical database are standardized inflected forms, which the validation app simplifies trying to match recordings and their annotations, but which matches can be rematched with the standardized inflected word forms that were used in the search, and then shown to the user, instead of the simplified forms. This should work for now, and eventually

[2020-02-21 02:15] eddieantonio commented on #73
So @aradu12 and I were going through some random annotations today and... some of them are simply missing translations? We might want to do some quality control on the actual annotations that we have, because this issue is reliant entirely on the quality of the annotations.

[2020-02-21 02:30] atticusha commented on #73
Is there any stats on how prevalent this is? I’d also like to see what
tried this is present on. Is it usually on sentence tiers or word tiers? Is
it mostly in older or later sessions?

In any event, I can see this being caused by three things:

1) annotator a making mistakes
2) elicitors not having translation in the elicitation documents for
myriad reasons (mistakes, specific request, etc)
3) th

[2020-02-21 02:55] aarppe commented on #73
Yes, running a variant of the extraction script that assesses how often a Cree annotation has a matching English translation would be a useful statistic to have - and probably worthwhile running on every session once its annotation is completed.

Never too much monitoring...

[2020-02-29 18:02] aarppe opened #78 "Ensure that annotations and recordings have proper format and locations"
So that the recording snippets extraction process can proceed, we need to ensure that:

- [ ] The recordings files are named properly and located appropriately on sapir.
- [ ]The Master Recordings Metadata file has all the information necessary for annotation work direction, supervision and recording snippet extraction, and all this information is consistent (and updated).
- [ ] The annotation fil

[2020-02-29 18:08] aarppe opened #79 "Need a script that gives an overview of annotations (Cree transcriptions, English translations)"
To support the recording snippets extraction process (#73), in order to monitor progress and quality, we need a script that outputs for each completed annotation of a recording session the Cree transcriptions and their English translations, so that the work monitors can see the overall counts of transcriptions and translations as well as whether there are transcriptions without translations or vic

[2020-02-29 18:10] aarppe opened #80 "Resolve issues in ELAN/TextGrid conversion"
Since there have been reports on the ELAN/TextGrid conversion potentially not having worked properly in all cases (#73), this needs to be examined. Solutions may entail revising the converter and/or revising the annotations appropriately.

[2020-02-29 18:13] aarppe commented on #73
There's not separate sub-issues #78, #79, #80, the resolution of which should allow this issue to move forward.

[2020-03-16 18:34] #73 closed

[2020-06-10 20:57] eddieantonio opened #83 "Use the comments tier to mark "bad" and "good" recordings"
_Apparently_, some annotations have a comments tier that marks whether a particular recording is good or bad. Integrate this into the importer!

[2020-06-16 00:49] eddieantonio opened #84 "Return speaker bio URL in JSON response"
This app should give the link to the speaker bio; consumers should be able to trust this link.

[2020-06-16 15:43] #84 closed

[2020-07-24 21:44] eddieantonio opened #85 "Rename this project to “speechdb“"
Since it's not _just_ about validating recordings!

[2020-09-19 01:56] aarppe opened #88 "Five incorrect records in the SQL DB"
There appear to be five incorrect records in the speech SQL DB, df.

[code]

[2020-09-22 22:07] aarppe opened #89 "Extract transcriptions for training persephone"
Ran the following script which created transcriptions for the recording snippets (with graphemes separed by spaces) and stored them in `/data/av/persephone/SPEAKER/tr/ `(so organized into directories by speakers.

`sqlite3 /data/texts/recval/recval.sqlite3 'SELECT r.id as recording_id, r.speaker_id as speaker, p.transcription as transcription FROM validation_phrase p, validation_recording r WHERE

[2020-09-23 21:11] aarppe commented on #89
Here's the code that copies the `*.wav` files from `/data/texts/maskwacis-recording-snippets/` to the appropriate speaker-specific directories under `/data/av/persephone/`:

`find /data/texts/maskwacis-recording-snippets/ -path *.wav | gawk 'BEGIN { while(("find /data/av/persephone/ -path *.tr" | getline)!=0) { match($0,"(/data/av/persephone/[^/]+/)tr/(.+)\\.tr$",f); path[f[2]]=f[1]; } } { match($

[2020-12-02 23:14] eddieantonio opened #90 "Change the name to speech-db"
This repo/site has various names:

 - recording-validation-interface
 - recval
 - validation
 - Maskwacîs Recordings app
 - _etc._

Let's settle on `speech-db`. @aarppe, what should be the eventual URL of this site?

[2020-12-04 06:51] aarppe opened #91 "Validation interface mockups"
Here are some sketches about how the validation interface could work and look like, using the transcription of the "new" Cree word _ewaninstohtahk_ 'he misunderstands it' as an example case:

1. Presenting the unvalidated word _ewaninstohtahk_ with the translation 'he misunderstands it'. The spell-checker is used to provide ranked suggestions. For each of the suggestions, one can opt to see their

[2020-12-04 06:55] aarppe commented on #91
@nienna73 This issue has my first attempt at describing how the validation task (by a linguist) could work on the word-level.

[2020-12-07 16:33] nienna73 commented on #91
@aarppe This outline and flow of events seems to make sense to me. I've drafted some technical requirements based off our conversation and the description above:

1. The user must be able to log in using a username (and password?)
        a. Alternatively, the user must enter their name or initials before changes are saved
2. The user should be able to search for a term
3. The system should presen

[2020-12-08 19:40] aarppe commented on #91
@nienna73 - Looks good - only a few comments below:

Also, the English translation as stored in the annotations from the field notes. Note that sometimes the translation concerns an entirer sentence or phrase, not a single word. Words vs. sentences should be on separate tiers in the annotations, and as such identifiable.

For future reference, eventually we might want to link in Maskwacîs Dictiona

[2020-12-16 20:45] eddieantonio commented on #80
I think @nienna73  is doing this right now!

[2020-12-16 21:58] nienna73 commented on #90
Duplicate of #85
Is this a simple task to do?

[2020-12-16 22:02] nienna73 commented on #83
@eddieantonio @aarppe Do we know how the identification of a recording as "good" or "bad" is progressing? In the few files I've looked at so far, the only insights I can gain from the comments tier is either "careful elicitation" or "practice".

[2020-12-16 22:06] nienna73 commented on #78
@aarppe This issue seems to be a helper issue to #73 , which has since been closed. Can this issue be closed as well?

[2020-12-16 22:14] aarppe commented on #83
The quality classification was supposed to be a three-way one, with `good`, `bad`, and in between. The designation of `bad` should indicate recordings that are compromised in various ways (overlap with another speaker, someone coughing, background noise, or otherwise not usable). The designation of `good` or `best` was a relative one when there were multiple recordings of the same word, indicating

[2020-12-16 22:14] nienna73 commented on #39
@aarppe @eddieantonio This issue has been quiet for almost a year. Have parts of it been addressed already?

[2020-12-16 22:17] aarppe commented on #78
This was a general issue that applies for the entire set of recordings, and goes beyond the extraction that was done earlier. We probably should yet review with Erin that the various subtasks noted above have been completed.

[2020-12-16 22:18] nienna73 commented on #34
@eddieantonio How is this issue progressing, if at all?
Also, what is this issue?

[2020-12-16 22:19] aarppe commented on #39
Nope. We knew this had to be done, and the validation interface (making use of the linguistic analysis of the transcriptions) will enable this to be completed. So, I labeled this as a metaissue for now.

[2020-12-16 22:19] nienna73 commented on #33
@eddieantonio How is pagination broken? Is it still broken?

[2020-12-16 22:22] nienna73 commented on #32
What is the purpose of creating an "admin" link for administrators?

[2020-12-16 22:30] eddieantonio commented on #83
The problem with this is that **the words "good" and "bad" are not written in the annotation files**. Instead we have "careful elicitation" and "practice".

Maybe @atticusha can weigh in? **What part of the ELAN file says we have a good recording?***

[2020-12-16 22:32] eddieantonio commented on #34
I don't remember!

[2020-12-16 22:32] #34 closed

[2020-12-16 22:36] eddieantonio commented on #33
Yes, it's still "broken". Really, this is a warning that shows up in the Django logs. I think the only thing that will fix it is if the `QuerySet` when rendering the main page is ordered, somehow.

[2020-12-16 22:38] eddieantonio commented on #32
To access the Django admin interface. There, admins (like Antti) can access quick analytics (how many recordings are there) and edit things like speaker bios directly.

[2020-12-16 22:39] #85 closed

[2020-12-16 22:42] eddieantonio commented on #90
Thanks for pointing out the duplicate!

Not... really. I'm not sure how many places that the various terms should be changed to "speech-db". It would be more effort than a global find-and-replace. Besides, some things _can_ be left as, e.g., "recval".

@aarppe, what URL do you expect to find the speech database?

[2020-12-18 03:02] aarppe commented on #83
@emcgarve should know as well. We started implementing the quality assessment only after something like 1/6 to 1/5 of the materials were annotated, so the very first snippets are yet lacking that.

[2020-12-18 18:35] atticusha commented on #83
Hi,

So my instructions to annotators were that all the **actual** elicitations are rated as _good, bad,_ or _best_. Some of them marked practice elicitations (where people where sort of trying some things out) in the beginning, in the same way they did it to mark language being spoken.

Basically, we can ignore anything that is not `best` or `good` (for Itwêwina at least). There should never have

[2020-12-18 18:37] eddieantonio commented on #83
@atticusha WHICH TIER?!?!?!?!?!!!?!?!?!?!?!

[2020-12-18 18:43] aarppe commented on #83
Do also note that the annotations done by Lex G. and Megan B. didn't include assessment of quality. The same applies to the very first annotations done by the undergrads, as they were only instructed to assess quality after about a month from the start of their work. However, they had not yet had a chance to complete much of the annotation at the very beginning, so the impact should not have been

[2020-12-18 18:47] eddieantonio commented on #83
### WHICH

# **TIER**

[2020-12-18 18:57] eddieantonio commented on #83
The **Comments** tier:

This is [`2015-09-30am-Track_1.eaf`](https://github.com/UAlbertaALTLab/recording-validation-interface/files/5758492/2015-09-30am-Track_1.eaf.zip):

<img width="1115" alt="ELAN with an annotation with quality annotations" src="https://user-images.githubusercontent.com/2294397/102650068-8670c700-4127-11eb-9c96-16153a76b67c.png">

@nienna73: you may need to scan the comments t

[2020-12-18 19:32] eddieantonio commented on #83
The data in the **Comments** tier, from an anonymous source:

(emphasis mine)

[2020-12-18 21:59] aarppe commented on #83
Yes, we want to extract all snippets regardless of quality, but then be able to rule out some - in itwêwina, and perhaps in our speech technological projects as well - due to having been judged as not really _usable_ (=**bad**).

_Later on_, we might decide that we present only the recordings marked as **best**, unless there aren't any for some particular recording. But anyhow we can use here the

[2020-12-23 21:34] nienna73 opened #92 "Implement a Login interface"
The user should be able to login using a unique and identifying username.
For additional security, the user could also be asked to create a password for their account.

The purpose of having someone login is so we can keep track of who is making edits to entries. This could help with the validation process, but more likely will help us know who to contact if we have questions.

I've come up with a

[2020-12-23 21:36] eddieantonio commented on #92
Relevant docs: https://docs.djangoproject.com/en/2.2/topics/auth/

(some vacation, eh?)

[2020-12-23 21:41] nienna73 opened #93 "Display all relevant information for each word"
The system should present the following for each search term:

1. The Maskwacîs Cree word
2. The English translation
2. The audio recording
3. Transcription from the field
4. Suggested terms from spellchecker
5. MED as calculated by service
6.  Linguistic analysis and lemma from HFST
7. Translation of each suggestion as provided by itwêwina

I've drafted two basic potential views:
<img width="451"

[2020-12-23 21:45] nienna73 opened #94 "Implement Search"
Related to Issue #42

Search is visually implemented, but does not actually work.

The search interface should look something like:
<img width="430" alt="search" src="https://user-images.githubusercontent.com/28357720/103039111-45b0ed80-452d-11eb-9143-f0a454539dfc.png">

Most of the issues concerning how search items will be displayed have been described in Issue #93
This issue is relating to the

[2020-12-23 21:53] nienna73 opened #95 "Allow users to make edits to entries"
The user should be able to manually make edits for the current version of the Cree spelling

This issue assumes that each word has its own page with all the necessary information to make a relevant edit, as described in option 2 of Issue #93

The edit screen could look something like:
<img width="431" alt="edit" src="https://user-images.githubusercontent.com/28357720/103039361-f0c1a700-452d-11eb-9

[2020-12-23 21:55] nienna73 opened #96 "Store a history of who has made edits to entries"
The system should be able to store all past versions of Cree words and the user who made each change.

This relates to issue #92 and issue #95 .

Users need to be identified in some unique manner that can then be stored in a database along with:
- All past versions of an entry
- Who has made edits to each entry version
- When these edits were made

This issue relates entirely to the back-end/datab

[2020-12-23 22:00] nienna73 opened #97 "Accept suggested spellings of words"
The user should be able to accept suggested spellings as the new standard form.

This issue assumes that option 2 has been chosen for issue #93

The user interface could look something like:
<img width="431" alt="accept" src="https://user-images.githubusercontent.com/28357720/103039840-156a4e80-452f-11eb-9171-fdaa8d55e81d.png">

Next to each suggested word and its MED will be an "Accept" button, o

[2020-12-23 22:04] nienna73 opened #98 "Associate a status with an entry"
The system should be able to flag entries as: unvalidated, standardized with model, standardized without model, standardized pending review, or validated.

"Unvalidated" means is has not been looked at by anyone and has come straight from the import process.

"Standardized with model" means that it has been standardized with a linguistic model.

"Standardized without model" means that the spelling

[2020-12-23 22:07] nienna73 opened #99 "Calculate MED"
When presented with a word from the database and a suggested word from another service, the system should be able to calculate the Mean Edit Distance (MED) between the two spellings.

MED is defined as the following in Issue #91 :

- adding/removing diacritics or hyphens, swapping glides w/y, or adding/removing aspirations -h- between vowel and consonant would have a weight of zero.
- inserting th

[2020-12-23 22:08] nienna73 commented on #91
Each of the user stories above now has its own issue to allow further discussion of each topic.

[2020-12-24 04:16] aarppe commented on #92
Ideally, the interface to the speech database would allow for non-validators, such as language instructors or learners, to look up for spoken materials for whichever pedagogical use - so that need not require user authentication. Whether such searching is best done within the same interface as the validation/standardization can be discussed, of course.

For editing existing content, one would have

[2020-12-24 04:20] aarppe commented on #93
Once we have people working on this task that become proficient with the material, we may want to have a view where they can potentially power through the transcriptions in an expedited manner (perhaps some sort of list view later on, but right now I'd start with a one-snippet at a time view). So we want to make sure that flipping between different views or different transcriptions happens quickly

[2020-12-24 04:26] aarppe commented on #94
Concerning what one wants to accomplish with search, we would actually want to consider what the validators/standardizers will be looking up, when they're systematically going through the recorded materials. It won't really be the case that they'll figure out some individual recording and then process that, and after that look up another snippet, and again and again. Rather, we'd want to be able t

[2020-12-24 04:28] aarppe commented on #98
"... with model" means that the current FST is able to recognize the final standardized form, so provide an analysis and lemma.

"... without model" means that the current FST is NOT able to recognize the final standardized form, so one needs to add the lemma (and inflectional category), which the standardizer manually inputs, to the FST source.

[2020-12-24 04:33] aarppe commented on #93
I realized that there is other information that could be shown as well:

a. The recording session when the snippet was collected.

b. The Rapid Words semantic class for the session that was being covered during the recording session.

c. The quality assessment of each recording snippet, if available.

d. The speaker who uttered the snippet (perhaps the speaker code).

Thus, there should be multipl

[2021-01-04 21:49] eddieantonio opened #100 "What to do about sessions without valid speaker names"
Some sessions do not have speaker names in the metadata sheet. This is a problem, since every recording **must** have a speaker associated with it.

For now we're ignoring any sessions without speaker names.

What should we do in the future?

@aarppe @atticusha

[2021-01-04 21:59] eddieantonio opened #101 "Support gradual re-import of database"
Sometimes the metadata changes, or new recordings are added, or annotations are modified.

Currently, in order to re-import the recordings, we have to:

 - delete the database
 - rerun the importer from scratch

Here me out though: what if we told the importer to only re-import what has _changed_?

[2021-01-07 23:02] eddieantonio commented on #83
Note! The comments tier can say many OTHER things like "Laughter", "Static", "English", "Indiscernible", "Cree?" and... much more.

Sometimes there is a hyphen and the reason, e.g.:

 - `Bad-static` — same as "bad"

Source: [2016-06-14am-DS/Track 1_0001.eaf](https://github.com/UAlbertaALTLab/recording-validation-interface/files/5784364/Track.1_001.eaf.zip)

[2021-01-15 22:17] eddieantonio commented on #99
@aarppe is there a weighted FST that does this? Is this part done within the spell checker (so we can use `divvunspell`)?

[2021-01-21 18:32] eddieantonio opened #102 "Use new process/branching conventions"
- Main branch: `development`
 - What is running on production: `production`

Develop by branching off of `development` and merging into `development`. At some point, we merge it into `production` which should be **automatically deployed** to Sapir/Whorf.

[2021-01-21 18:49] eddieantonio commented on #102
Done!

[2021-01-21 18:49] #102 closed, assigned to nobody

[2021-01-21 19:13] eddieantonio opened #103 "Implement bulk API"
It would be **tremendously useful** if itwêwina could ping an endpoint on the `speech-db` that would search for many _exact_ wordforms at once, and return the URLs and metadata for the recordings.

Rationale:

 1. more efficient to make one BIG query than hundreds of small queries, with some of them failing

For example, itwêwina would make requests that resemble the following:

[code]

Or even wi

[2021-01-21 20:21] nienna73 commented on #99
MED is calculated using a combination of divvunspell for the spelling suggestions and difflib to find the differences between the suggestions and the original word. There's then a whole bunch of python that goes on to find the exact types of differences and calculate MED following the rules above.

There will soon be a PR that covers this issue, but I'm blocked by divvunspell. The python SDK isn't

[2021-01-21 20:26] nienna73 commented on #93
A proof-of-concept is ready for this issue, but is blocked by #99
The page that shows the information for each phrase also shows the suggested spellings and their MED. So this issue is also blocked because divvunspell-sdk-python isn't on PyPI yet.

Once these issues are unblocked, I'll merge them into `development` so they can be tested locally without having them be public-facing.

[2021-01-21 20:28] nienna73 commented on #97
Beside each suggestion is a button labelled `Accept`, which auto-loads the information for that suggestion into a form. This information can then be further edited before confirming it. These changes will be merged with issue #93 .

[2021-01-21 20:32] nienna73 commented on #96
Turns out the database models were already doing this! I added a few new fields to the Phrase model (modifier, date, analysis) so now the database keeps historical records of all this information.

[2021-01-21 20:34] nienna73 commented on #95
So far, the user can edit the transcription, translation, and analysis of each entry. I'm also thinking of a way to mark audio quality for each recording.

[2021-01-21 20:53] aarppe commented on #99
`crk.zhfst` is generated in `giellalt/lang-crk` with the option `./configure --enable-spellers`, and is to be found in `giellalt/lang-crk/tools/spellcheckers/`.

[2021-01-21 21:00] aarppe commented on #95
The audio quality should build upon what we extract from the ELAN annotations already, and we could use perhaps precified values such as `bad`, `best`, `ok`, and perhaps an open comment that can be edited, if we want to be comprehensive.

[2021-01-21 22:08] eddieantonio opened #104 "Automatically insert information for certain speakers"
We currently need to rebuild the database every time we want to extract recordings; however, this _deletes the names and genders of speakers in the database!_ So this information should be placed into the database, perhaps during the import process.

@nienna73, I'll prepare this seed data and send it to you!

[2021-01-21 22:14] nienna73 commented on #99
@aarppe I get that we have to build it locally using those steps, but how do we build it for the production server?
Do we follow those same steps on Sapir, or do we include the `.zhfst` file in the Git repo?

[2021-01-22 02:20] aarppe commented on #99
We haven't included compiling `crk.zhfst` in our own regular compilation scheme, and reconstructing all the stages might not be worth the effort right now, or even later.

For the time being, we might just build manually `crk.zhfst` and store that wherever it's convenient.

On the longer term, we might want to automate that process, since we might be adding gradually new lexemes to the core FST wh

[2021-01-22 02:23] aarppe commented on #95
I'm wondering whether we should separate the lemma from the features, when representing (and storing) the linguistic analysis.

[2021-01-25 21:40] nienna73 commented on #94
I think all of those search scenarios are plausible and I can implement them, I'm now considering how to make all this functionality intuitive to the user. I think being able to search for a term is still a standard and expected functionality of search, so I can implement that. Then perhaps a tab-like view for showing "all" phrases, "validated" phrases, and "unvalidated" phrases. We don't store so

[2021-01-29 21:04] nienna73 opened #109 "Show error message when creating a new account fails"
This used to work, then I changed literally nothing (that I can think of) and it stopped working.

When a user tries to register a new account, it should fail if the username is already in use and show an error message to this effect.

[2021-02-01 21:16] nienna73 commented on #109
This was a very simple fix. When the form wasn't valid, I was creating a new instance of the register form and sending that through, so the errors didn't persist. I made [this PR](https://github.com/UAlbertaALTLab/recording-validation-interface/pull/110) to address the issue.

[2021-02-01 21:16] #109 closed, assigned to nienna73

[2021-02-10 17:20] #99 closed, assigned to nienna73

[2021-02-10 17:20] #97 closed, assigned to nienna73

[2021-02-10 17:20] #96 closed, assigned to nienna73

[2021-02-10 17:23] nienna73 commented on #92
Login functionality has been implemented as described above. Users can see all entries and search for entries without being logged in, but must log in before making edits.

[2021-02-10 17:23] #92 closed, assigned to nienna73

[2021-02-10 17:27] nienna73 commented on #42
Search leads somewhere now and the rest of the concerns regarding search functionality can be found in issue #94

[2021-02-10 17:27] #42 closed

[2021-02-10 17:31] nienna73 opened #115 "Fix back button"
Pressing the back button after editing and saving a segment reloads the edit segment form instead of returning to the previous page, whether that's the home page or a search page.

Steps to replicate:
1. Enter the detailed view for any word/phrase
2. Edit the word/phrase
3. Save the edits
4. Press the browser back button

Expected behaviour: pressing the back button in the browser will return the

[2021-02-10 17:44] nienna73 commented on #89
Both of these extraction processes can be done from within the recording validation project. @eddieantonio implemented the `.wav` extraction and I more recently implemented the transcription portion of this task.

To generate the `.wav` files: `python manage.py importrecordings --wav --skip-db`
To generate the transcription files: `python manage.py writetranscriptions`

Generating the transcriptio

[2021-02-10 18:07] nienna73 commented on #33
I'm not seeing this error anymore, but I didn't do anything to directly resolve it...I think. Could you try to replicate it when you have a moment @eddieantonio ?

[2021-02-10 21:09] eddieantonio commented on #90
Right now I have <https://recordings.altlab.dev/> configured for this app... @aarppe — is this correct, or is there a better URL for it?

[2021-02-10 22:28] eddieantonio commented on #33
Yes, but please pester me about it again!

[2021-02-11 18:09] nienna73 commented on #115
The behaviour recorded was seen in Firefox.

In Chrome: pressing the back button reloads the same page, but not the edit-segment form.

In Safari: same behaviour as Firefox

[2021-02-11 18:53] nienna73 commented on #104
@eddieantonio Do you have an update on the seed data? I have a feeling it will help me with #72

[2021-02-11 20:03] nienna73 commented on #72
Questions about this implementation:
1. Where does the speaker bio come from?
2. Do we want to upload a picture, or pull pictures from http://altlab.ualberta.ca/maskwacis/Speakers/speakers.html ?

[2021-02-11 20:54] nienna73 commented on #101
Is this something that Django supports and we're missing a command in that process?
Or do we have to modify our own `importrecordings` command?

[2021-02-12 15:42] eddieantonio commented on #101
I don't believe there is Django magic for this; we need to manually scan the recordings + metadata to see if they're different than what's in the database, then update _just_ the data that has changed.

I would suggest refactoring the import process into two stages: one stage scans the metadata and filesystem for potentially data to import; then the second stage actually opens the files, parses th

[2021-02-12 16:48] eddieantonio commented on #72
They were recorded in both English and in nêhiyawêwin! I'm not sure if there's a transcription available. @atticusha will know more of the details!

I think the best thing to do would be to upload the pictures _from_ http://altlab.ualberta.ca/maskwacis/Speakers/speakers.html, but we can just pull the picture from there for now 😅

[2021-02-12 16:49] eddieantonio commented on #104
Haha, I DM'd it to you on Slack a while ago! I'll prepare it again and send it to you on some place more permanent. Do you think this data is okay to store in the repository itself?

[2021-02-12 16:54] nienna73 commented on #104
...oops. Considering we present this information on the `/speakers` page, it's probably fine to have it in the repo itself, yeah. I'm happy to add it myself, if you just want to send it to me over Slack again.

[2021-02-12 22:54] nienna73 commented on #72
I can likely pre-load the bios at the same time as I pre-load the other information about the speakers, if we want it in the DB, that is. Either way, I'll be patient on that front.

I found the pictures on the Google Drive. Should I just add them to the repo?

[2021-02-16 20:33] nienna73 commented on #101
If I understand correctly, this task includes a refactor of the current process to first find the data to import and second, import the data. Then the gradual import comes in afterwards. Is this correct?

What constitutes "different" when we're looking for new or updated data to import?

[2021-02-16 20:36] nienna73 opened #120 "Show Arok's notes on divvunspell suggestions"
Sometimes there are useful notes in Arok's dictionary that could provide further insight into the spelling suggestions provided by `divvunspell`. These notes can indicate things like spelling variations, so showing the notes would be useful.

This should be done with either a new page or a pop-up view.

Where and how do we access these notes?

[2021-02-16 20:38] eddieantonio commented on #101
Correct!

I'm not really sure! I think if a SINGLE BIT changes in any of the audio or annotation files, then that session should be marked as changed. Otherwise, consider the session as "imported". Does this make sense?

[2021-02-16 23:18] nienna73 opened #121 "Add more fields to advanced search"
The following fields have been requested for the "advanced search" functionality:

- [ ] Edit Distance
- [x] Recording Quality
- [x] RapidWords category
- [ ] WordNet category
- [ ] Session

EDIT: Added WordNet category.

[2021-02-16 23:23] nienna73 opened #122 "Add a way for users to flag entries"
It's possible and likely that users will come across oddities in the data that can't be fixed through the "Edit" button and that also shouldn't be fixed by an end user, such as having the wrong transcription file for the audio file.

We should add a "flag", "more options", or "report an issue" button near the "Edit" button that notifies the maintainers of the issue. This can be through e-mail, pot

[2021-02-16 23:24] nienna73 commented on #101
Yes, I think that makes sense. These are the things that I think can change from one session to another:

- Metadata sheet
- .eaf file
- .wav file

Is there anything else?

[2021-02-16 23:33] eddieantonio commented on #101
I can't think of anything else 😅

[2021-02-17 19:54] nienna73 commented on #101
So far, I'm checking if the modify date on the .eaf file is more recent than the modify date on the DB, and doing the same with the .wav files. This should cover most cases, but feels too simple to work for all cases.

Checking if the metadata has changed is a little more complex and I can't quite wrap my head around how to check this info yet. I'll keep thinking on it.

I also import everything i

[2021-02-17 20:34] andrewdotn commented on #101
A classic way to handle the metadata update: hash the metadata, and save the hash in the database. Then you have a quick way to check if the metadata has changed.

    def metadata_hash(metadata):
        return hashlib.sha256(json.dumps(metadata).encode('UTF-8')).hexdigest()

[2021-02-17 20:39] nienna73 commented on #101
I found a scenario where using the date for the .eaf and .wav files won't be reliable:

1. Create DB
2. Add a new .eaf file
3. Someone validates an entry, therefore changing the DB modify time
4. Do another import, and the new .eaf file is missed

Can this be fixed by using the create time for the DB, or do I need to hash all the thing?

[2021-02-17 20:40] nienna73 commented on #101
Hmm okay, also: do I need one hash for all the metadata entries? or a hash per entry? (English is hard)
I was hoping I could pinpoint which session/s had new metadata and only import that/those one/s, thus associating a metadata hash with each session in the DB.

[2021-02-17 20:47] nienna73 commented on #101
I got excited/distracted and forgot to do the first step: refactor.
Let me refocus and do that, then we can resume this discussion when I'm less confused about where we should be checking if the data are different.

[2021-02-17 20:50] andrewdotn commented on #101
Ah, good question. For each file, you’d store the hash of the corresponding row from the metadata spreadsheet.

[2021-02-17 21:22] eddieantonio commented on #101
![HASH ALL THE THINGS](https://user-images.githubusercontent.com/2294397/108269625-7ecf9d80-712b-11eb-9993-293141c2b5f0.jpg)

[2021-02-19 20:39] aarppe commented on #120
Currently, the latest version of Arok's toolbox files is in our ALTLab repo:

`./altlab/crk/dicts/Wolvengrey.toolbox
`
Right now, I manually fetch updates of this file, but on the longer term we might want to automate the process - that would require a bit of planning.

This is the list of all fields in this CW database:

[code]
I could imagine that one could allow for presenting all this informat

[2021-02-19 20:50] aarppe opened #123 "More status types"
Associated with #122, having examined some individual cases, we may want to have more status types concerning the recording snippets and their accompanying transcriptions. Sometimes, resolving what the correct transcription should be could take a lot longer than simply establishing that a particular recording can be reliably linked with some word-form recognized by the crk FST, and/or an entry in

[2021-02-23 21:15] nienna73 commented on #72
@aarppe Does our information privacy agreement with the speakers say anything about where and how their information is stored?
I'm wondering if I can upload the speaker images to GitHub or if they need to live offline somewhere.

[2021-02-23 21:56] aarppe commented on #72
We do have the right to make the speakers information (incl. pictures) available (via the consent forms), but I wouldn't necessarily make those available on GitHub, but preferably in a somewhat more private place - of course, anyone can download any speaker's picture, but we wouldn't be storing those files on a public site.

[2021-02-24 16:37] #104 closed, assigned to nobody

[2021-02-25 22:51] nienna73 commented on #123
So I properly understand and am able to implement this correctly, can you confirm these details:

A new entry is unvalidated or untouched. I can call it `new` in the database.

An auto-standardized entry still needs to be reviewed by a human.

An entry that has been meaning-linked has had the transcription manually verified to match the translation and lemma provided.

A standardized entry has had

[2021-02-27 10:44] aarppe commented on #123
Following up on what we discussed earlier on Friday, what I could imagine is that there would be different views for different types of validators. Speakers would mainly see some version of the transcription, and would be able to validate the English translation, and possibly provide an alternative, better Cree word (for later recording). In contrast, linguists would see all the data, but they wou

[2021-03-01 17:25] nienna73 opened #126 "Fix Pagination"
Pagination does not currently work from either search results view (advanced search and basic search). Clicking "Next" brings up and error about empty query strings, since we need the search terms to continue.

We need to either pass the query to the pagination, or make it so it doesn't always need a query.

[2021-03-01 20:21] nienna73 opened #128 "Default user type"
Users should be assigned a default role when registering a new account.

The default role is "community member", which has permission to edit the transcription and translation, but not the analysis of an entry.

Users can either a) select a flag during the registration process to request "linguist" access or b) have to email or message a developer to be given "linguist" access.

[2021-03-01 20:25] nienna73 opened #129 "Allow segment editing from the home page"
Users should be able to mark certain qualities of a segment without having to navigate away from the home page.

The bare-bones of this process would look something like:

<img width="726" alt="Screen Shot 2021-03-01 at 1 23 03 PM" src="https://user-images.githubusercontent.com/28357720/109554291-43b95c80-7a91-11eb-8f88-d94abdee86eb.png">

There should be no more than 5 entries per page and if the

[2021-03-01 22:28] #126 closed, assigned to nienna73

[2021-03-04 20:59] nienna73 commented on #123
I'm implementing some of this workflow at the moment and I've thought of another status we might want to store. What would you call it when a user has looked at a segment and decided that the translation and the transcription do no match? As in, they answer "no" to the question "Is this translation correct?"?

[2021-03-04 23:09] aarppe commented on #123
I'd think that there's a caterogical question first, i.e. is the translation acceptable (yes) or (not), and if not, then what is the problem which could be a multiple choice, being something like incorrect match (no relation) or inaccurate translation (relation, but translation not an accurate representation of the Cree word), and maybe some 'other' case.

[2021-03-10 20:57] eddieantonio opened #146 "Omit bad recordings from legacy API"
Anything marked as "bad" should not even APPEAR in the legacy API!

[2021-03-10 21:17] eddieantonio opened #147 "Get CI working again!"

[2021-03-11 20:04] nienna73 opened #149 "Remove styles from views.py"
The styles for the filter buttons are passed in through `views.py` and they shouldn't be.

[2021-03-16 00:40] aarppe opened #151 "Misaligned annotations"
There are a number of recordings where the extracted snippets appear entirely misaligned, either wrt the annotations (matching incorrect words) or the carefully pronounced words (not matching with any such word). Examples can be found here:

https://speech-db.altlab.app/search/?query=prince

[2021-03-16 00:49] aarppe opened #152 "Incorrect speaker codes"
For some of the recordings, they are nicely aligned and correctly linked with their transcription, but the speaker codes are mostly wrong, e.g.

https://speech-db.altlab.app/search/?query=s%C3%AEs%C3%AEkwas

Here, all the recordings are attributed to BL2, but he is the actual speaker only on the last four recordings; the preceding other speakers (in order) are: ANN? (2 snippets) and HAR (2 snippet

[2021-03-16 19:24] eddieantonio commented on #152
We need to do a reimport for this once #153 is merged.

[2021-03-17 19:21] eddieantonio opened #154 "How many times do we have words that are also in sentences in annotation files?"
If many times, then maybe we should EXCLUDE words that are taken from sentences.

[2021-03-17 22:03] aarppe opened #155 "Enable linguists to directly mark bad quality for recordings"
Since we're now running into, when searching for example case, a number of recordings for which the quality is compromised, it would be useful for the linguist in question to be able to mark in the speech database the quality of such a recording as `bad`, so that this won't turn up in _itwêwina_. So, in this case, this wouldn't require quality marking in the original annotations. A good poster-chi

[2021-03-17 22:18] aarppe opened #156 "How often have other speakers also been marked on one and the same recording track?"
@atticusha (and ErinMcG) We'd want to know how many sessions this applies to.

We would either need to 1) recode within the validation interface the recordings for other speakers with the correct speaker code (and perhaps mark distinctively that the recordings are "overheard"); or 2) exclude such recording snippets of other speakers entirely when extracting from the track. Both options will requir

[2021-03-23 19:29] nienna73 commented on #155
The functionality for this already exists and Linguists and Language Experts are the only ones capable of marking recording quality. This function isn't on the production server yet, but I'm confident that this issue will be resolved once it is.

[2021-03-23 19:30] nienna73 commented on #154
Is this marked in the annotation files somewhere/somehow? Or should I start thinking of a way to query the DB to figure this out?

[2021-03-23 19:33] nienna73 commented on #152
#153 has been merged and I've attempted to re-run the extraction process since, which is how we will eventually solve this issue. There are still a few lingering issues related to the metadata and/or the data inconsistencies. I think we need to solve #101 before I can truly solve this issue.

[2021-03-23 19:35] nienna73 commented on #146
We did this, right?

[2021-03-23 19:42] nienna73 commented on #128
We changed the wording of the sign up process so that we now have 4 user groups:
* Language Expert
* Linguist
* Instructor
* Learner

@aarppe which of these roles should be the default role if one is not selected?
I'm leaning towards making "Learner" the default role as they have the least privileges.

[2021-03-23 19:45] nienna73 commented on #95
This issue feels outdated given the new UI. Linguists still have access to this page and can edit the transcription, translation, and analysis, but no other user group is allowed to see this page.

@aarppe  and @eddieantonio should we close this issue and create a new, more relevant one when the time arrives? Or do you think we should continue building off of this issue?

[2021-03-23 19:49] nienna73 commented on #83
I think I did this.

If the word "bad" is in the lowercase comment, the recording is bad.
If the words "good" or "best" are in the lowercase comment, the recording is good.
Otherwise, the recording is of unknown quality.

All snippets, regardless of quality, appear here: https://speech-db.altlab.app/
But only the **not bad** ones make their way to itwêwina.

[2021-03-23 19:50] nienna73 commented on #80
I think this is done?
As far as I can tell, any remaining issues in the import process are not being caused by the `.eaf` file type.

[2021-03-23 19:51] nienna73 commented on #79
@aarppe do we still want/need this?

[2021-03-23 19:54] nienna73 commented on #72
This is 80% complete, pending the speaker bios.

If those are going to take a long time to get, I can modify the current speakers page to just show the speaker's name (when we have it) and their picture (when we have it) and then we can add the bio back in at a later date.

[2021-03-23 19:56] nienna73 commented on #38
"Validate" and "all" are nebulous terms. Is this still something we're trying to do?

[2021-03-23 19:59] nienna73 commented on #33
I think this is fixed. I've started sorting the entries alphabetically by transcription. The paginator was warning that having an unsorted set would produce different results sometimes, so sorting the set seems to have solved it.

[2021-03-23 20:00] nienna73 commented on #32
Do we need to manually add the `/admin` path, or is Django doing that for us? Cause I think Django is doing that for us.

[2021-03-23 20:02] nienna73 commented on #26
I'm not sure I follow this issue.

Does the new UI do this?

Is this something we still want to do?

[2021-03-24 05:08] aarppe commented on #154
This should be apparent in the ELAN annotation files, and be the case when the time-stamp of an annotated word snippet (which should be on their own tier) is within the time-stamp for an annotated sentence (which should be on a separate tier of their own). But it would not be marked explictly in the annotations, but should be inferred, though the criteria should be quite straight-forward.

[2021-03-24 05:09] aarppe commented on #128
Yes, I'd consider `Learner` the default case, as that would be comparable to an occasional "browser".

[2021-03-24 05:11] aarppe commented on #95
Yes, it is the linguists who should be able to edit all information, while the Language experts could edit the English translations, and the rest simply flag problematic cases. So, if this is implemented, then this could be considered closed, and whatever later development would be needed would warrant its own new issue.

[2021-03-24 05:13] aarppe commented on #83
@nienna73 Ok - do we have stats on how many recording snippets are marked as "bad", "good", or "best", and then ones that have some other quality marking that is not one of the three aforementioned, and thus uninterpretable?

[2021-03-24 05:17] aarppe commented on #79
@nienna73 This was needed so that we could undertake quality validations of the annotations (and recordings) for the sessions that had been annotated - that the annotations align with the recordings, that the annotated recordings are otherwise of sufficient quality and so forth.

If there's a possibility to see this information, at a session-specific level via the _linguist_ interface, then this s

[2021-03-24 05:21] aarppe commented on #72
There are annotated bios for 5 or 6 of the speakers, i.e. the English has been transcribed and the Cree delineated (by Daniel). The English (and Cree) passages have been delineated into utterances/sentences, so we can present those passages aligned, rather than the entire English or Cree passage. We (i.e. "someone") would need to assess these annotations and process them into a form that can be in

[2021-03-24 05:25] aarppe commented on #38
This is comparable to autovalidation, in terms of what concerns the orthographical form. But what we should create a record of is those annotated word-forms which already occur in the Maskwacîs Dictionary, in which case a validation of the English translation is not needed (as that was validated at the time of inclusion within MD). This could be extracted from the MD spreadsheet, or the elicitatio

[2021-03-24 05:26] aarppe commented on #26
I presume this is a functionality that was intended for the community language Experts. So if this is implemented for that user groups, then this should have been taken care of.

[2021-03-24 17:06] eddieantonio commented on #146
We sure did! The bad recordings that are on the site are just ✨ unmarked! ✨

[2021-03-24 17:06] #146 closed, assigned to nobody

[2021-03-24 17:07] eddieantonio commented on #33
Yep, simply sorting the query will get the paginator to stop complaining!

[2021-03-24 17:07] #33 closed

[2021-03-24 17:10] eddieantonio commented on #32
Here is the line that adds the admin path to our URLs:

https://github.com/UAlbertaALTLab/recording-validation-interface/blob/dbc91823a265aa4a061cad27bb006f66dcae007f/recvalsite/urls.py#L22

Django does _not_ insert this path automatically, but we've already done it!

---

However a link that is available to administrator accounts (I'm not sure which roles _should_ be able to access the admin pane

[2021-03-24 17:10] eddieantonio commented on #80
Yep, this is outdated since we are no longer using TextGrids :/

[2021-03-24 17:10] #80 closed

[2021-03-24 17:16] eddieantonio commented on #26
I think there are other issues that take care of the functionality requested here.

[2021-03-24 17:16] #26 closed

[2021-03-24 17:42] nienna73 opened #162 "Accounts Page"
Each user should have an account page where they can manage the details of their account. To start with, they should be able to:

- [ ] view their account information
- [ ] view the entries they've edited/validated
- [ ] change their password? (no clue how hard this is to do)

Later on, we should ideally find a way to associate a user with a speaker, so that speakers are able to:

- [ ] upload an

[2021-03-24 17:46] nienna73 commented on #32
I figured it would just be a handful of ALTLab members that need access to the django admin interface. I'm hesitant to show a link to that interface on the main page as people might think they're missing out on some privileges or that they need admin access to perform certain actions.

[2021-03-24 17:49] nienna73 commented on #72
How soon do you think we'll have access to the speaker bios?
Everything on my end is ready for them, from what I can tell, so I'd love to have that information go up the next time we update the live site.

As for speakers editing their own information, we currently don't have any way to associate a user with a speaker. I made #162 to address this concern and other issues that indicated we'd be nee

[2021-03-24 17:50] eddieantonio commented on #32
A solution to this is to only show the link to users that are logged in
and have the appropriate role. 

—
Eddie Antonio Santos
***@***.*** ***@***.***>
***@***.*** ***@***.***>
<https://eddieantonio.ca/>

On March 24, 2021, GitHub Notifications ***@***.***>
wrote:

—
You are receiving this because you were assigned.
Reply to this email directly, view it on GitHub
<https://github.com/UAlbertaALTLa

[2021-03-24 18:05] nienna73 commented on #83
Here are the numbers as of today:

There are a total of 156 237 recordings.

Looking at the comments field of the recordings, I get:
54 743 recordings are marked as "best"
73 877 recordings are marked as "good"
3 681 recordings are marked as "bad"

This should leave 23 936 recordings of unknown quality.

HOWEVER, when I look directly at the quality that's being stored for each recording, I get the

[2021-03-24 20:48] nienna73 commented on #83
This just in: my queries were ever so slightly wrong and the numbers do, in fact, match!

There are:
3959 comments with "bad"
74213 comments with "good"
54862 comments with "best"

These numbers match the numbers from the "quality" field on recordings!

In addition, there are 8627 comments that have the word "careful" in them. I'm assuming, based on the small number of annotation files I've seen,

[2021-03-25 19:25] #149 closed, assigned to nobody

[2021-03-26 01:48] aarppe opened #165 "Mark words already in the Maskwacîs Dictionary"
As a more precise task leading up to #38, for the just shy of 9000 entries already in the Maskwacîs Dictionary, these do not require validation of their English translations, as that was done at the time of the collection of that glossary. Nevertheless, we will need to standardize their orthographical form as a separate task.

[2021-04-07 00:57] aarppe opened #174 "Allow speakers to enter a better alternative for a Cree word form / sentence"
If the user indicates there is something wrong with the translation (clicking YES for 'There's a better Cree word for this translation'), and then choose 'There's a better Cree word for this translation', that should open a field to enter such a better Cree word form / sentence.

[2021-04-07 00:59] aarppe opened #175 "Allow speakers to provide a better English translation for a Cree word form / sentence"
If the speaker indicates there is something wrong with the English translation (in responding YES to the question 'Is this translation accurate' and clicking 'There's a better translation for this Cree word'), they should then be able to enter that improvement in a field.

We'd want to keep Cree and English suggestions as separate from each other.

[2021-04-07 01:04] aarppe opened #176 "Allow users to provide a better spelling for a Cree word / sentence"
Add an option for the speakers to provide a better / more accurate spelling for the Cree words and sentences.

Of course, a question here is whether this is in effect already implemented on the linguist version of the interface.

[2021-05-21 21:20] nienna73 commented on #176
I believe this has been addressed with the suggestion pop-up. It's only a suggestion though: a linguist still has to go in and make the change permanent.

[2021-05-21 21:20] nienna73 commented on #175
I believe this has been implemented.

[2021-05-21 21:20] nienna73 commented on #174
This has been addressed.

[2021-05-21 21:21] nienna73 commented on #165
This has been done, though I don't think it's quite right yet. Currently, a word gets marked as already existing and then does not need its spelling validated by a user. However, the English translation does not get set to the version that's already in the dictionary, this is yet to be implemented.

[2021-05-21 21:23] nienna73 commented on #155
I think this has been resolved.

[2021-05-21 21:25] nienna73 commented on #101
@eddieantonio I think we need to pick this issue up again.

Once we've investigated all the cases we can, we'll need to do another DB import. To avoid the problem we had last time, when we had to remove a bunch of duplicates from the DB, I think we'll want a way to update (i.e. delete then re-import) existing entries.

[2021-05-21 21:26] nienna73 commented on #152
I would estimate that around 80% of the incorrect speaker codes have been dealt with and the rest are being investigated.

[2021-05-21 21:26] nienna73 commented on #147
I think we did this, yes?

[2021-05-21 21:27] nienna73 commented on #129
We did this! Closing this issue as the interface mentioned here was implemented long ago.

[2021-05-21 21:27] #129 closed, assigned to nienna73

[2021-05-21 21:28] nienna73 commented on #128
This is resolved.

[2021-05-21 21:28] #128 closed, assigned to nienna73

[2021-05-21 21:29] nienna73 commented on #122
Users can easily flag entries for review.

[2021-05-21 21:29] #122 closed, assigned to nienna73

[2021-05-21 21:31] nienna73 commented on #103
@eddieantonio I have a vague recollection of us implementing this. Did we actually make any progress on this issue?

[2021-05-21 21:33] #95 closed, assigned to nienna73

[2021-05-21 21:35] nienna73 commented on #93
This issue has been resolved. Any further issues with how information is being displayed will need to be filed as their own issue.

[2021-05-21 21:35] #93 closed, assigned to nienna73

[2021-05-21 21:36] nienna73 commented on #90
We've changed the public-facing site to be [https://speech-db.altlab.app/](https://speech-db.altlab.app/). Are there more places where we need to change the name?

[2021-05-21 21:37] #89 closed

[2021-05-21 21:40] nienna73 commented on #88
@aarppe I don't follow what exactly is wrong with these entries. I ran the queries above, but they just return the information in the database as they aren't actually looking for something specific.
We've also recreated the DB a few times since this issue was filed. Can you please confirm if this issue still exists?

[2021-05-21 21:41] nienna73 commented on #83
I'm going to close this issue since we've accomplished what we initially set out to do. Anything else relating to the comments filed and/or recording quality assessments can be brought up in its own issue.

[2021-05-21 21:41] #83 closed

[2021-05-21 21:43] nienna73 commented on #78
This issue is still relevant and we're continuing to investigate anomalies in how files are named and stored.

[2021-05-21 21:46] nienna73 commented on #38
The remaining tasks for this issue are covered in #165. I'm marking this issue as a duplicate and closing it--all further discussion can take place in #165.

[2021-05-21 21:46] #38 closed

[2021-05-21 21:52] nienna73 commented on #17
I'm not sure I understand how this issue relates to the validation interface. There are a non-zero number of entries containing '::' or ';;', but we currently aren't doing anything with/about them. Is this still something we need to do?

If so, could I get some clarification on what needs to be done on my end?
And it not, can we close it?

[2021-05-21 21:53] aarppe opened #200 "Remove white space characters from the edges of the MD transcription field"
Currently, many English translations have in particular some unnecessary initial (and perhaps final) white characters - this may apply to the Cree transcriptions as well. This may sometimes be a reason that seemingly exactly similar Cree words or phrases get treated as different entries in the speech-db. The remedy here would be to automatically remove any such white-space characters from both edg

[2021-05-21 21:53] #176 closed, assigned to nobody

[2021-05-21 21:53] #175 closed, assigned to nobody

[2021-05-21 21:53] #174 closed, assigned to nobody

[2021-05-25 14:48] eddieantonio commented on #147
Yep! The one thing I'd do is replace the badge on the README, but that's really of minor concern.

[2021-05-25 14:48] #147 closed, assigned to nobody

[2021-05-25 15:01] eddieantonio commented on #103
@nienna73 not at all. There needs to be a new URL and API **with documentation and tests** that can be given a list of _exact_, validated wordforms with normatized spelling (no spelling relaxation). Does the code currently have a "normatized spelling" field for the transcription? That is, is there a column that is guarenteed to spell the transcription in perfect SRO?

[2021-05-28 15:36] eddieantonio commented on #90
Yes!

 - [ ] The repository name (maybe not that important)
 - [ ] The Python package names, e.g., `recvalsite`, `validation`, `librecval`

I guess those don't really matter that much.

[2021-06-18 02:27] aarppe opened #216 "Homonymous recordings need splitting"
With homonyms, e.g. _mikitêw_, meaning 'He gets him in trouble' as well as 'turkey', the recordings for these become now collapsed together. But we need to be able to indicate that such recordings belong to more than one entry (already in MD).

[2021-06-18 02:50] aarppe opened #217 "Linguistic revision status should be more obvious"
When reviewing my linguistic validation work, it is not easily evident whether I've touched some entry, or what changes I'va made. E.g. for _natimihk_, at the top I can first see tens of speller suggestions, many of which are irrelevant, i.e.

<img width="1259" alt="image" src="https://user-images.githubusercontent.com/15003407/122499113-8ace4d80-cfad-11eb-85a6-0729d81b41f8.png">

... , and only a

[2021-06-18 05:29] aarppe opened #218 "Linguistic analysis should concern the wordform, not the lemma"
While the standardized spellings that are shown concern the particular word forms, the linguistic analysis seems to concern the lemma, not the word-form, cf.

<img width="986" alt="image" src="https://user-images.githubusercontent.com/15003407/122511037-e0adf000-cfc3-11eb-8b1b-65fb64c88978.png">

Here, the analysis from the FST that is associated with the wordform: _askipwâwa_ is `askipwâwi+N+I+Pl

[2021-06-19 20:04] aarppe opened #219 "Mismatched speakers for 2016-06-01-AM-_"
<img width="651" alt="image" src="https://user-images.githubusercontent.com/15003407/122654220-30490480-d107-11eb-9085-5c179adcc05f.png">

[2021-06-19 20:05] aarppe commented on #219
@emcgarve Here's one mismatch for you to diagnose.

[2021-06-26 23:24] aarppe opened #222 "Missing recordings"
https://speech-db.altlab.app/maskwacis/segment/15446

<img width="762" alt="image" src="https://user-images.githubusercontent.com/15003407/123528232-37da5180-d6a3-11eb-8f22-095053406fc6.png">

[2021-06-27 00:44] aarppe opened #223 "Mismatching recordings"
https://speech-db.altlab.app/maskwacis/segment/16996
<img width="625" alt="image" src="https://user-images.githubusercontent.com/15003407/123529543-804b3c80-d6ae-11eb-8573-2dc6cfd236d0.png">

[2021-06-27 01:50] aarppe opened #224 "Missing transcriptions or other mismatches"
In the following segment, the transcriptions are missing, wrong, or otherwise unusable:

https://speech-db.altlab.app/maskwacis/segment/3174

<img width="1237" alt="image" src="https://user-images.githubusercontent.com/15003407/123530455-afb27700-d6b7-11eb-98c1-96a119b83a23.png">

These cannot reliably be fixed via the validation interface. Either these should be fixed at the source, or excluded t

[2021-06-27 01:52] aarppe opened #225 "Second set of missing transcriptions"
Besides the cases referred to in #224, there is a second set of recordings with no or bad transcriptions:

https://speech-db.altlab.app/segment/8733

<img width="1207" alt="image" src="https://user-images.githubusercontent.com/15003407/123530460-d7a1da80-d6b7-11eb-9329-7887ec64179c.png">

These, too, would need to be fixed in the annotation source, rather than in the validation interface.

[2021-07-07 18:39] eddieantonio commented on #103
@nienna73: do we have enough transcriptions in the database with **perfect** SRO in it? I think we should probably get this feature rolled out soon, so that we can improve itwêwina. We can pair on this if you'd like.

[2021-07-19 17:57] eddieantonio opened #238 "Server Error when setting a wrong speaker as "I don't know""
I got this 500 Server Error when I tried to mark a wrong speaker with the "I don't know" option:

https://user-images.githubusercontent.com/2294397/126205103-d31f70a2-1e3c-43f9-aed6-0a8562bc2652.mov

**EDIT**: reproduce by going to this URL: https://speech-db.altlab.app/search/?query=w%C3%AEtask%C3%AEwin then setting the first clicking on the first recording for "wîtaskîwin" as "wrong speaker" and

[2021-07-21 22:12] eddieantonio opened #239 "Using the bulk API with over 90 arguments returns a 502 Bad Gateway"
itwêwina may issue requests that result in a [502 Bad Gateway](https://recordings.altlab.dev/) error. This is causing UAlbertaALTLab/cree-intelligent-dictionary#922.

Here's a minimal reproduction:

[code]

Making a smaller request (90 query params) yields a valid response:

[code]

Hypothesis: the URL is too dang big for something (ngnix, uwsgi, Django).

[2021-07-21 22:35] eddieantonio commented on #239
Update: this shows up in speech-db's logs (via docker-compose) for the query with 91 arguments:

[code]

What's interesting is `invalid request block size: 4112 (max 4096)`. This is a message coming from uwsgi, stating that the headers are too damn big. [Things to know](https://uwsgi-docs.readthedocs.io/en/latest/ThingsToKnow.html#:~:text=By%20default%20uWSGI%20allocates%20a%20very%20small%20buffe

[2021-07-22 21:14] eddieantonio commented on #239
We decided uwsgi is correct in allowing headers to be a max 4KiB. We didn't want to just keep raising the ceiling everytime we hit it, so this is a `wontfix`. The current behaviour is perfectly acceptable!

[2021-07-22 21:35] andrewdotn commented on #239
If the GET is changed to a POST, I know that will allow passing more data up-front; my memory is vague as to whether CORS headers might be needed for the POST request to work client-side.

[2021-07-27 18:11] #239 closed, assigned to nobody

[2021-08-12 22:08] aarppe opened #250 "Start and Stop recordings should work with the same button"
Trying out the new recording interface, it would seem to me that using the same button to start and stop recordings would be easier to use, rather than having two separate buttons (requiring moving the cursor before clicking) as is the current implementation.

[2021-08-12 23:36] aarppe opened #254 "What format are the new recordings stored in?"
@nienna73 Are the new recordings stored first in a non-lossy format such as WAV? (even if they're later on converted into some more compressed format such as MP4.)

[2021-08-13 00:42] aarppe opened #255 "Autofill fields when provided from language-expert review"
If the (Cree) transcription or (English) translation fields are not empty, use those to autofill the fields when a recording is selected for further review, e.g.

<img width="611" alt="image" src="https://user-images.githubusercontent.com/15003407/129287148-89199575-9065-4112-8f5c-be10d363b4a3.png">

In the above, the language expert review already provides both the Cree transcription and the Engl

[2021-08-13 00:46] aarppe opened #256 "Recording is missing from some cases flagged for review"
E.g. here, we have no recording, though that must have existed when this was flagged for review, cf.

<img width="400" alt="image" src="https://user-images.githubusercontent.com/15003407/129287545-f23453be-2319-49a9-9245-82a58f35c29e.png">

... and here:

<img width="634" alt="image" src="https://user-images.githubusercontent.com/15003407/129287525-4862a60c-7f4f-4507-acf8-7514b8d60225.png">

[2021-08-13 17:00] nienna73 commented on #254
We're currently storing two copies of each recording: one .wav file to preserve full quality, and one .m4a file as it's much smaller and easier to serve up in the service.

We're also saving a JSON file for each recording with the following information:
- Username of person who recorded it
- Full name of person who recorded it
- Date and time of the recording
- Cree word
- English word
- Audio fil

[2021-08-15 21:48] aarppe opened #257 "2 out of 3 speaker codes are wrong for kêyapic"
In the below screenshot:

<img width="295" alt="image" src="https://user-images.githubusercontent.com/15003407/129493750-8754d487-f090-4fb5-9732-981cd1a64831.png">

... Arlene Makinaw and Brian Lightning appear to have been mixed (but not Harley Simon), which may be due to a broader miscoding for the session in question.

[2021-08-15 21:49] aarppe commented on #257
@emcgarve You could check that the speaker codes for the session is question are correctly assigned.

[2021-08-15 21:58] aarppe commented on #257
Having checked a few items for the session in question 2018-05-02-AM/PM-OFF, it appears that the culprit here is that ARL and BRI had switched mics for the afternoon, i.e. that the AM speaker code assignment is correct, but then swapped for the afternoon.

[2021-08-25 03:05] aarppe commented on #72
@nienna73 how much of this is now done?

[2021-08-27 17:27] nienna73 commented on #165
English translations are saved as of several weeks ago.
The only remaining potential issue is homograph disambiguation, which can be addressed in a separate issue.

[2021-08-27 17:27] #165 closed, assigned to nobody

[2021-08-27 17:32] nienna73 commented on #200
The series of actions that lead to this issue has been changed. This issue is somewhat resolved as a result of this workflow change.

[2021-08-27 17:32] #200 closed, assigned to nobody

[2021-09-10 17:36] nienna73 commented on #257
This issue has been resolved. @aarppe I found your issues filed in speech-db and addressed the issue there. All the speaker codes for this particular word should now be correct.

[2021-09-10 17:36] #257 closed, assigned to nobody

[2021-09-10 17:38] nienna73 commented on #256
This was actually designed to behave this way. When you're reviewing an issue with a phrase, the recordings are not present. When the issue relates to a recording, then you'll be able to hear it. For this issue in particular, it looks like there was no actual issue with the transcription, translation, or recordings, but rather a note that we want added to the entry. In which case this particular i

[2021-09-10 17:39] nienna73 commented on #255
This was implemented in #260

[2021-09-10 17:39] #255 closed, assigned to nobody

[2021-09-10 17:40] nienna73 commented on #254
@aarppe if all your questions about recording format have been answered, please close this issue. Otherwise I can answer other questions here so we have everything in one place.

[2021-09-10 17:42] nienna73 commented on #238
I am unable to replicate this issue and as such am going to assume I fixed it (which I believe I did a number of PRs ago).
This was likely happening due to information that no longer being submitted by the form, but the code was still trying to access it.

[2021-09-10 17:42] #238 closed, assigned to nobody

[2021-09-10 17:45] nienna73 commented on #223
The words spoken in the recordings do not match the transcription and they're also cut off in most of the examples. I wonder if this is a case where the annotation file was matched to the wrong .wav file. @emcgarve are you able to investigate?

[2021-09-10 17:46] nienna73 commented on #222
The first two recordings are white noise and the second two are rather quiet. I'll look into this and see if it's a pattern with this session.

[2021-09-10 17:47] nienna73 commented on #218
I solved this issue in #260 by running the inflected wordform through the HFST optimized lookup and using that analysis instead.

[2021-09-10 17:47] #218 closed, assigned to nobody

[2021-09-10 17:48] nienna73 commented on #217
In #260 I added a note to the top of this page that says "This entry was last edited by {user} on {date}" so you can easily see if you've already looked at it.

[2021-09-10 17:48] #217 closed, assigned to nobody

[2021-09-10 17:51] nienna73 commented on #216
This feature is not yet supported. In order to do this, we'll likely want to file issues for a number of these recordings and state that they should be a different word; in this case, the suggested word could be "mikitêw (turkey)" or "mikitêw (he gets him in trouble)" so we're able to tell why the issue was filed in speech-db. I then need to make a code change to look for an entry with an exact ma

[2021-09-10 17:52] nienna73 commented on #156
Is there any progress on this issue?
Does anything need to be done on the programming side to address this issue?

[2021-09-10 17:53] #155 closed, assigned to nobody

[2021-09-10 17:54] nienna73 commented on #154
@aarppe is this something I should be working on, or can we designate a linguist to investigate this issue?

[2021-09-10 17:55] nienna73 commented on #152
Through the new "wrong speaker" button, we've been able to address the majority of these cases. Since we now have a long-term solution to this problem, I'm closing this issue.

[2021-09-10 17:55] #152 closed, assigned to nobody

[2021-09-10 17:57] nienna73 commented on #151
This seems to be an issue with this entire session, 2016-06-14-AM-US-_

My first hunch is that the ELAN file was associated with the wrong .wav file again. Is someone able to investigate?

[2021-09-10 17:59] aarppe commented on #151
@emcgarve This would be something for you.

[2021-09-10 18:01] nienna73 commented on #123
I'm still unclear on how an entry moves from one status to another and I think the code uses these status terms rather inconsistently as a result. @aarppe Are you able to clearly outline the path a phrase can/should take from the time its imported (status = `new`), to the time no one needs to look at it anymore?

[2021-09-10 18:03] aarppe commented on #154
As far as I can understand, this is not really for linguists to best resolve, as it concerns technically cases where a word-snippet is a fragment of a sentence-snippet. Thus, this would in my mind be more a programming issue where one should be scrutinizing time-stamps at the word tier that are in between time-stamps at the sentence-level. Nevertheless, right now this isn't perhaps the most import

[2021-09-10 18:03] nienna73 commented on #120
This task is going to take a relatively large amount of time for me to implement and hasn't been brought up since it was initially thought of 6 months ago. Is this something I should continue to keep on my backburner, or should we mark it as a `wontfix` and close it?

[2021-09-10 18:05] nienna73 commented on #103
We did this!

[2021-09-10 18:05] #103 closed, assigned to nobody

[2021-09-10 18:06] #75 closed

[2021-09-10 18:07] aarppe commented on #156
This was a thing that we feared that some tracks might have been marked for all the speakers in that session. But I'm not sure how pervasive this was, and the practice should have been ruled out by Atticus relatively quickly in the beginning. Nevertheless, this would be @emcgarve to look into, though not necessarily with the highest priority at least for now.

[2021-09-10 18:08] nienna73 commented on #101
Thinking back on this, I think we were vastly over-thinking the problem. Sessions that need to be re-imported can be symlinked to a new directory and we can point the recording extraction process to that directory. Entries that already exist and haven't been updated by a user (i.e. changed the transcription, translation, and/or speaker code), can simply be replaced in the import process. This will

[2021-09-10 18:10] aarppe commented on #254
My original question was addressed.

[2021-09-10 18:10] #254 closed, assigned to nobody

[2021-09-10 18:10] nienna73 commented on #100
@aarppe @atticusha this question still stands. I use the metadata sheet less and less, but sessions without speakers have been entirely ignored, even if just one speaker is missing (as this completely wrecks the import process).

[2021-09-10 18:12] nienna73 commented on #98
I think I need clarity on #123 before I can work on this issue.

[2021-09-10 18:18] aarppe commented on #120
While it would be neat to have all this information at one's fingertips within the same interface, I think we concluded as a perfectly sufficient interim measure that the intended goal can be achieved if the linguist validator has access to Arok's database (which should be the case) and can look up all that information themselves separately, rather than spending an inordinate amount of time in cod

[2021-09-10 19:30] nienna73 commented on #94
I believe search is in a state of "good enough" for this project and any other tasks related to search are covered in #121
For right now, users can filter based on session or status (though I believe status is rarely used). Everything else is related to advanced search.

[2021-09-10 19:30] #94 closed, assigned to nienna73

[2021-09-10 19:33] nienna73 commented on #88
Has this issue been resolved? I'm still unclear on what exactly is wrong here.

[2021-09-10 19:36] nienna73 commented on #72
While this page is technically broken at the moment, it does exist and is completely implemented. I don't think users need the ability to upload their own photo, though I can make that a file field in Django so we can more easily upload photos through the admin interface. I'll open other issues covering the current problems with the speakers page and this task is officially done.

[2021-09-10 19:36] #72 closed

[2021-09-10 19:39] nienna73 commented on #41
I believe everything we need to accomplish this task has been implemented in the speech-db, now it's just a matter of manually going through all the entries as we're doing with Rose and verifying the spelling of everything. Furthermore, itwêwina is already searching for exact spelling matches when querying speech-db for recording snippets.

@aarppe unless there are further features required to com

[2021-09-10 19:43] nienna73 commented on #35
This task is about 60% done. Remaining items are:

- [x] make speaker image a file/media field
- [x] implemented Anonymous attribute
- [x] redirect itwêwina to the speakers page in speech-db

[2021-09-10 19:47] nienna73 commented on #19
I'm not sure I fully understand this issue. Do we still want to be able to assign a part of speech identifier to each entry? Or is the analysis serving this purpose at the moment?

[2021-09-10 19:47] nienna73 commented on #17
@aarppe is this issue still relevant?

[2021-10-04 02:05] aarppe opened #265 "Allow for more than one administrator"
In order to approve requests for roles, we might want to have more than one administrator to take care of that task. This would be useful in particular when some of us are on holiday or otherwise away.

[2021-10-05 05:04] aarppe opened #266 "Generalize the reference to the dictionary/ies"
Currently for the Tsuut'ina flavor of the Speech-DB, one gets the following notice: "This phrase is already in the Maskwacîs dictionary", cf.

<img width="407" alt="image" src="https://user-images.githubusercontent.com/15003407/135963197-ca062f12-fb1e-4c11-9565-c222190797a3.png">

That should be generalized, so that one can specify per language/dialect what is/are the sources. For Tsuut'ina I'd su

[2021-10-05 17:37] aarppe opened #267 "Implement search by semantic domains (WN and/or RW)"
We might even consider presenting the semantic category as an alternative to sessions when searching - and on the longer term as actually the more relevant search criterion than any particular recording session.
As a follow-up to #121, we should implement a search by semantic domains.

As for implementing this, we fortunately have RapidWords classes for the MD content for Maskwacîs Cree (and WordN

[2021-12-21 21:01] #266 closed, assigned to nobody

[2021-12-21 21:04] nienna73 commented on #265
You are also an admin user, I believe as of the time this issue was created.

[2021-12-21 21:04] #265 closed, assigned to nobody

[2021-12-21 21:24] #35 closed

[2021-12-21 21:28] #30 closed

[2022-01-27 22:04] aarppe opened #335 "Generate synthesized paradigms for a few new model verbs and nouns"
Now that we have synthesized word-forms for much of the _wâpamêw_ paradigm, we could try to synthesize a few more, e.g. _wâpahtam_ (TI), _nipâw_ (AI), _kîsikâw_ (II), as well as _asikan_ (NA) and _astotin_ (NI).

[2022-01-27 22:05] aarppe opened #336 "Fill in the few missing synthesized word-forms from the full layout for wâpamêw"
There are a few word-forms which are missing synthesizations for _wâpamêw_ - for demonstration purposes it would be good to generate them.

[2022-01-27 23:44] aarppe opened #337 "Option to mark one recording (out of many) as best needed"
With in particular the spoken paradigms in mind, we'd need to have an opportunity to mark out a recording that is unequivocally good, or the best in the set, when there are many recordings which as a group are ok, if you can listen to them all and compare, but individually might be compromised as a single representation of the spoken form of a word. Examples of this can be heard below for _ê-kîsik

[2022-02-01 02:39] aarppe opened #340 "Add Jean Okimâsis's workbook recordings into their own Cree dialect"
We have finally gotten started with the annotations of the recordings of the exercise workbook for Jean Okimâsis' textbook, _Cree - the language of the plains - nêhiyawêwin - paskwawi-pîkiskwêwin._ The recordings and corresponding annotations, now for the first three, can be found here:

https://drive.google.com/drive/u/0/folders/17keJGIfBKJwNshISyt7WzEOWi1XrKUIO

As to the Plains Cree dialect of

[2022-02-08 23:42] aarppe commented on #340
Additional note - Daniel has just managed to annotate all of the workbook recordings, yielding 2444 new entries (583 sentence tokens and 1861 word tokens)

[2022-02-10 20:31] aarppe commented on #340
I checked with Arok, and Jean's dialect should be the place name: _môswacîhk_ 'Moose Mountain' (SK)

[2022-03-10 22:00] aarppe opened #360 "Formatting of speaker bio for OKI"
In order to fully follow Plains Cree SRO orthographical conventions, the following formatting adjustments should be done:

1. All hyphens in Cree words should be non-breaking ones (HTML code: `&#8209;`).
2. All non-Cree words (primarily proper names) should be italicized.

[2022-03-10 22:00] aarppe commented on #360
@nienna73 Two more desiderata from Arok.

[2022-03-18 02:31] aarppe opened #369 "Speaker/language/dialect labeling changes"
Now that we've included more languages and dialects, we'll need a few modifications in the headers/labels.

- [x] we need to add the language endonym, if known, on the front page, so e.g. `nêhiyawêwin` alongside `Plains Cree`.
- [ ] On the speakers page, we'll need to note both the language (`Plains Cree / nêhiyawêwin`) and the dialect (`Maskwacîs, môswacîhk`), e.g. `Plains Cree / nêhiyawêwin spea

[2022-03-22 01:06] aarppe opened #370 "Add space/end-of-line to crk character ordering"
We noticed with Arok that for strings that share exactly the same prefix, the longer string gets shown before the shorter string, when it should be the other way around, e.g.

[code]

[2022-03-22 01:07] aarppe commented on #370
@nienna73 Another observation from Arok, which may have been overlooked.

[2022-03-24 19:41] aarppe commented on #369
@nienna73 I forgot to mention this in yesterday's Tech Team meeting.

[2022-03-25 06:05] aarppe opened #371 "Bio with recording needed for Dolores Sand"
We would need a recorded bio and picture for _Dolores Greyeyes Sand_ (from Muskeg Lake Cree Nation in central Saskatchewan / [maskêko-sâkahikanihk](https://itwewina.altlab.app/word/mask%C3%AAko-s%C3%A2kahikanihk/), cf. https://www.blogger.com/profile/11766221710690417195), who we've used for training the Cree synthesizer that is very recognizable her.

[2022-03-26 22:46] aarppe commented on #371
Besides the draft bio and picture available via the above links, we'd want to record the bio in Cree and English.

[2022-04-14 20:32] #360 closed, assigned to nobody

[2022-04-14 20:33] nienna73 commented on #337
This has been solved on the speech-db side, but has yet to be resolved on the morphodict side. A new issue should be opened in morphodict for this feature.

[2022-04-14 20:33] #337 closed, assigned to nobody

[2022-05-10 03:42] aarppe opened #406 "Implement lemma-based on search"
In advanced search, allow for searching using lemmas, based on the linguistic analyses.

[2022-05-18 03:41] aarppe commented on #335
@nienna73 You might want to undertake a review of issues for this project repo as well.

[2022-05-18 03:42] aarppe commented on #336
Now that the various preverbed word-forms are again generated for the paradigms, we would want to add synthesizations for those forms as well.

[2022-05-18 03:45] aarppe commented on #121
I would add the following:

- [x] exact match
- [x] lemma match
- [x] semantic class (RW) match

[2022-05-18 03:48] aarppe commented on #19
The analysis covers this for now. My original idea here was that for the speakers/validators who are not linguists, assigning the inflectional codes or scrutinizing the FST analyses are likely not something they are accustomed to, so I thought that example words or simple English sentence structures might do the job instead. Nevertheless, this feature is not needed currently due to how we are cond

[2022-05-20 19:07] aarppe opened #407 "Include RW and WN classifications from Tsuut'ina lexical database"
Read in and include the RW and WN classifications that Karoline implemented in the Tsuut'ina lexical database, cf. https://docs.google.com/spreadsheets/d/1g8QL7N8u101xznREdNaF48vuBqpCgnBHEBl5Izq142I/edit#gid=1438438407

These would be columns O, P, Q. Some entries have multiple classes, which should also be supported.

[2022-05-20 19:13] aarppe opened #408 "Include hyponyms in semantic search results"
Allow for the inclusion of hyponyms (or the full hyponymic subtree) in semantic search, by using of the RW and WN hierarchy.

I'd be inclined to make this default, so that getting the exact match in terms of class would be the option that the user could select, if they so wish.

In this way, the speech-DB could already be used for semantic exploration of vocabulary content, though we would probabl

[2022-05-20 19:16] aarppe commented on #408
@nienna73 This and #407 would be an important feature and presumably relatively straight-forward to implement, significantly improving the searchability of the vocabulary content.

[2022-05-21 02:02] aarppe commented on #408
As an example, take the following highest-level in RW:

[5 Daily life](https://semdom.org/v4/5)
        [5.1 Household equipment](https://semdom.org/v4/5.1)
            [5.1.1 Furniture](https://semdom.org/v4/5.1.1)
                [5.1.1.1 Table](https://semdom.org/v4/5.1.1.1)
                [5.1.1.2 Chair](https://semdom.org/v4/5.1.1.2)
                [5.1.1.3 Bed](https://semdom.org/v4/5.1.1.

[2022-05-30 22:17] aarppe opened #412 "Previous/next/first/last buttons do not work with (at least) exact lemma search"
When running an exact lemma search, clicking next or previous takes one to the overall results, not the next page for the lemma search results. However, specifying the page number and jumping there does provide the expected result.

[2022-05-31 20:24] aarppe commented on #412
@nienna73 When opting to include hyponyms, using the Next/Previous/Last/First buttons still does not work, or works erratically. On the other hand, specifying the exact index of the page does already/still appear to work.

[2022-06-02 21:14] #412 closed, assigned to nobody

[2022-06-23 00:25] aarppe commented on #408
As part of this, we would want to add the entire RW hypernymy hierarchy, even when some classes have not been used.

[2022-06-25 22:19] aarppe opened #422 "Add more spoken paradigms, starting with sâkihêw and sâkihtâw"
Since people as 'X loves Y' often, we could add synthesizations for _sâkihêw_ and _sâkihtâw_. [edit: change TI lemma.]

[2022-06-28 21:01] aarppe commented on #422
After these, we could traverse down the glossary list, cf.

[code]

[2022-06-29 00:14] aarppe opened #427 "In linguistic window, add a field for changing or correcting the RW semantic class"
Currently, there is no way for the linguist to correct or modify the semantic class. In particular in the beginning of the recording sessions, some MD words were placed under an incorrect semantic domain due to polysemy (e.g. _blanket_ for  _cloth_ placed under _snow_ as in _snow blanket_). So, we'd want to have a way of both seeing the semantic class(es) as well as have a field for modifying that